footer {
  background: var(--dark);
  box-shadow: 0 0 0.5em var(--shadow-dark);
  color: var(--bright);
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 3em 2em;
}

.present footer {
  display: none;
}

footer h3 {
  color: var(--brighter);
  text-transform: uppercase;
}

footer a {
  color: var(--brighter);
  text-decoration: none;
}

footer a:hover {
  color: var(--highlight);
}

footer ul {
  padding-left: 1.5em;
}

footer li {
  margin-top: 1em;
}

footer .column {
  flex-basis: 100%;
}

@media only screen and (max-width: 770px) {
  footer {
    flex-direction: column;
    gap: 0em;
  }

  footer .column {
    padding-bottom: 1em;
  }

  footer .column + .column {
    border-top: 1px solid var(--neutral);
    padding: 2em 0 1em 0;
  }
}
