.slider-container {
  background: var(--darker);
  padding: 1em 0;
}

.present .slider-container {
  background: var(--shadow-dark);
}

.slider-container:hover {
  background: var(--dark);
}

.slider-container:hover label {
  color: var(--brighter);
}

.slider-container + .slider-container {
  border-top: 1px solid var(--neutral);
}

.present .slider-container + .slider-container {
  border-top: 0;
}

.slider-container .text {
  display: flex;
}

.slider-container label {
  color: var(--bright);
}

.present .slider-container label {
  color: var(--brighter);
}

.slider-container .variable-display {
  color: var(--highlight);
  flex-grow: 1;
  text-align: right;
}

.slider-container .variable-display .suffix {
  color: var(--brighter);
}

.slider-container .slider {
  display: block;
  margin-top: 0.5em;
  width: 100%;
}

.present .css-urjlyw-Slider {
  height: 22px;
}

.present .css-1ldz52l-Slider {
  height: 25px;
  width: 25px;
}
