.slider-container {
  padding: 0;
}

.present .slider-container {
  background: var(--shadow-dark);
  padding: 0;
}

.present .slider-container + .slider-container {
  border: 0;
}

.slider-container .text {
  display: flex;
}

.slider-container label {
  color: var(--bright);
}

.present .slider-container label {
  color: var(--brighter);
}

.slider-container .variable-display {
  color: var(--highlight);
  flex-grow: 1;
  text-align: right;
}

.slider-container .variable-display .suffix {
  color: var(--brighter);
}

.slider-container .slider {
  display: block;
  margin-top: 0.5em;
  width: 100%;
}

.present .css-urjlyw-Slider {
  height: 2vmin;
}

.present .css-1ldz52l-Slider {
  height: 30px;
  width: 30px;
}
