#model {
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.present #model {
  background: #000;
  height: 100vh;
}

@media only screen and (max-width: 1000px) {
  #model {
  }

  .present #canvas {
  }
}
