h1 {
  background: var(--dark);
  color: var(--bright);
  padding: 0.5em 1em;
  font-size: 150%;
}

h2 {
  font-size: 125%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

aside {
  color: var(--bright);
  padding: 1em;
  min-width: 13em;
}

#container {
  display: flex;
  flex: 1;
  justify-content: center;
}

main {
  padding: 1em 0 1em 1em;
}

#settings {
}

footer {
  background: var(--dark);
  color: var(--bright);
  padding: 1em;
}

footer a {
  color: var(--highlight);
  text-decoration: none;
}

footer a:hover {
  color: var(--highlight);
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  #container {
    flex-direction: column;
    padding: 0;
    justify-content: start;
  }

  aside {
    min-width: auto;
  }

  h1 {
    font-size: 100%;
  }

  main {
    padding: 0;
  }
}
