header {
  background: var(--dark);
  padding: 1em 2em;
  box-shadow: 0 0 0.5em var(--shadow-dark);
  margin-bottom: 1em;
}

.present header {
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.present header h1 {
  font-size: 0;
}

h1,
h2 {
  color: var(--brighter);
  text-transform: uppercase;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#container {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0 auto;
  max-width: 1450px;
}

.present #container {
  background: var(--shadow-dark);
  font-size: 200%;
  max-width: 100%;
}

#panel {
  color: var(--bright);
  max-width: 50%;
}

.present #panel {
  color: var(--brighter);
}

.pane {
  background: var(--darker);
  margin: 1em;
  border: 3px solid var(--shadow-light);
  border-radius: 1em;
  overflow: auto;
  padding: 2em;
  position: relative;
}

.present .pane {
  border: 0;
  border-radius: 0;
  margin: 0;
  background: var(--shadow-dark);
}

.pane img {
  max-width: 40%;
  max-height: 20em;
}

img.left {
  float: left;
  margin: 1em 1em 1em 0;
}

img.right {
  float: right;
  margin: 1em 0 1em 1em;
}

.present #settings {
  min-height: 100vh;
}

#settings .toggle-label {
  align-items: center;
  display: flex;
  padding: 2em;
  position: absolute;
  top: 0;
  right: 0;
}

#settings .react-toggle {
  margin-left: 1em;
}

#settings .react-toggle--checked .react-toggle-track {
  background-color: var(--highlight);
}

#sliders {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

#instructions h3 {
  margin-top: 1em;
}

#model {
  align-self: start;
  margin-left: 0;
  overflow: hidden;
  padding: 0;
}

.present #model {
  background: #000;
}

footer {
  background: var(--dark);
  box-shadow: 0 0 0.5em var(--shadow-dark);
  color: var(--bright);
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 3em 2em;
}

.present footer {
  display: none;
}

footer h3 {
  color: var(--brighter);
  text-transform: uppercase;
}

footer a {
  color: var(--brighter);
  text-decoration: none;
}

footer a:hover {
  color: var(--highlight);
}

footer ul {
  padding-left: 1.5em;
}

footer li {
  margin-top: 1em;
}

footer .column {
  flex-basis: 100%;
}

@media only screen and (max-width: 1000px) {
  header {
    margin-bottom: 0;
  }

  #container {
    flex-direction: column;
    padding: 0;
    justify-content: start;
  }

  #model {
    order: 0;
    margin-left: 1em;
    margin-bottom: 0;
  }

  .present #model {
    margin-left: 0;
  }

  #canvas {
    height: auto;
  }

  #panel {
    order: 1;
    min-width: 100%;
  }
}

@media only screen and (max-width: 770px) {
  footer {
    flex-direction: column;
    gap: 0em;
  }

  footer .column {
    padding-bottom: 1em;
  }

  footer .column + .column {
    border-top: 1px solid var(--neutral);
    padding: 2em 0 1em 0;
  }
}
