:root {
  --brighter: #e2e2e2;
  --bright: #a4a4a4;
  --neutral: #444444;
  --dark: #2a2a2a;
  --darker: #1e1e1e;
  --darkest: #121212;
  --shadow-dark: #0b0b0b;
  --shadow-light: #101010;
  /*--highlight: #ff8000;*/
  --highlight: #6262ee;
}

* {
  box-sizing: border-box;
  transition: background-color, color, padding, margin,
    font-size ease-in-out 250ms;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--darkest);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  line-height: 150%;
}
