:root {
  --brighter: #dddddd;
  --bright: #bbbbbb;
  --neutral: #666666;
  --dark: #444444;
  --darker: #111111;
  --highlight: #ff8000;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--darker);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
